.review-button {
    padding: 3% 8%;
    margin: 2% 0%;
    align-content: center;
    width: 100%;
	background-color: white;
	color: $fifthy;
    border-radius:5px;
    border: 1px solid $fifthy;
	text-align:center;
    font-size: 0.9rem;
    text-decoration: none;
}

.admin-button {
    padding: 3% 8%;
    margin: 5% 0%;
    align-content: center;
    width: 100%;
	background-color: white;
	color: $sixthy;
    border-radius:5px;
    border: 1px solid $sixthy;
	text-align:center;
    font-size: 0.9rem;
    text-decoration: none;
}