.floating-button {
    position:fixed;
    bottom: 20%;
    right: 25%;
    align-content: center;
    width: 200px;
    padding: 2%;
	background-color:$fourthy;
	color:#FFF;
	border-radius:20px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;

}

.filter-button {
    padding: 3% 8%;
    margin: 2% 0%;
 
    align-content: center;
    width: 100%;
	background-color: white;
	color: $ninethy;
    border-radius:2px;
	text-align: center;
    font-size: 0.9rem;
    text-decoration: none;
    border: 1px solid $eighty;
    box-shadow: 1px 1px 1px 1px $eighty;
    background: url("./filter.png") 25px 5px no-repeat;
  
  
}

