.floating-button {
    position:fixed;
    bottom: 10%;
    right: 30%;
    align-content: center;
    width:150px;
    padding: 2%;
	background-color:$fourthy;
	color:#FFF;
	border-radius:20px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;

}

