$primary: black;
$secondary: #fbde45;
$terciary: #fcfffa;
$fourthy: #ec9336;
$fifthy: #1fbb3b;
$sixthy: #3d397c;
$seventhy: #1d1d26;
$eighty: #efeff4;
$font-primary: 'Open Sans', sans-serif;
$font-secundary: 'Roboto', cursive;
$font-size: 16px;
$footer-height: 60px;

html {
    font-size: $font-size;
    font-family: $font-primary;
   
    

    body {
        padding: 0;
        margin: 0;
        font-family: $font-primary, $font-secundary;
        font-size: $font-size;
        color: $secondary;
        div {
            max-width: 100%;
        }
      
        p {
            
            color: $primary;
            line-height: 1.3rem;
            text-decoration: none;
            font-size: 0.9rem;
        }
        h1 {
           
            font-family: $font-primary;
            font-size: 1.5rem;
            color: $primary;
            text-decoration: none;
        }
        h2 {
            font-family: $font-primary;
            font-size: 1.1rem;
            color: $primary;
            text-decoration: none;
        }
        h3 {
            
            font-family: $font-primary;
            font-size: 1.1rem;
            color: $primary;
            text-decoration: none;
        }
        .container {
            
            margin: 0%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
        }
        hr {
            width: 95%;
            padding: 0;
        }
        a {
            text-decoration: none;
        }

        .padding {
         padding: 0% 5%;
        }

        .margin {
            margin: 10% 0;
        }     
        
        label {
            color: $seventhy;
            font-size: 1rem;
            text-align: left;
            line-height: 1.5rem;
            padding: 2% 0;
            
        }
        
        
        form {
            display: flex;
            flex-direction: column;
            margin: 5% 0% 0%;
            width: 100%;
        }
        
        
        input[type=text] {
            width: 100%;
            padding: 3% 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid $eighty;
            color: $primary;
            font-size: 1rem;
            line-height: 1.3rem;
          }
        
          input[type=password] {
            width: 100%;
            padding: 3% 0%;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid $eighty;
            color: $primary;
            font-size: 1rem;
            line-height: 1.3rem;
           
          }
          
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px $terciary inset !important;
        }
        
        select {
            padding: 5px 0px;
            font-size: 1rem;
        
        }
        input[type=radio] {
            padding: 2% 5% 0 3%;
           
        }
        
        input[type=checkbox] {
            padding: 10%;
        }

        
         input[type=submit] {
           
            font-size: 1rem;
            width: 100%;
            
         }
         .color-grey {
             color: $seventhy;
         }

         .align-center {
             justify-content: center;
             text-align: center;
         }

         .flex {
    
            display: flex;
            flex-direction: row;
        }
         .grid-flex {
             display: flex;
         }

         .half-box {
             width: 80%;
         }
         .box {
             width: 20%;
             padding: 5%;
         }
         .circle-avatar {
            width: 100%;
            border-radius: 50%;
        }
        .width {
            width: 90%;
        }
        .margin {
            margin: 5% 0;
        }
        .column {
            display:flex;
            flex-flow: column;
        }
    }    
}    
