$primary: black;
$secondary: #fbde45;
$terciary: #fcfffa;
$fourthy: #ec9336;
$fifthy: #1fbb3b;
$sixthy: #3d397c;
$seventhy: #1d1d26;
$eighty: #3d3d3d;
$font-primary: 'Open Sans', sans-serif;
$font-secundary: 'Roboto', cursive;
$font-size: 16px;
$footer-height: 60px;

html {
    font-size: $font-size;
    font-family: $font-primary;
   
    

    body {
        padding: 0;
        margin: 0;
        font-family: $font-primary, $font-secundary;
        font-size: $font-size;
        color: $secondary;
        div {
            max-width: 100%;
        }
      
        p {
            
            color: $primary;
            line-height: 1.1em;
            text-decoration: none;
        }
        h1 {
           
            font-family: $font-primary;
            font-size: 2rem;
            color: $primary;
            text-decoration: none;
        }
        h2 {
            font-family: $font-primary;
            font-size: 1.3rem;
            color: $primary;
            text-decoration: none;
        }
        h3 {
            
            font-family: $font-primary;
            font-size: 1.1rem;
            color: $primary;
            text-decoration: none;
        }
        .container {
            
            margin: 0%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
        }
        hr {
            width: 95%;
        }
        a {
            text-decoration: none;
        }
        .padding {
         padding: 5%;
        }
        .margin {
            margin: 10% 0;
        }     
        
        label {
            color: $seventhy;
            font-size: 1.1rem;
            text-align: left;
            padding: 10px 0 0;
            
        }
        
        
        form {
            display: flex;
            flex-direction: column;
            margin: 5% 0% 0%;
            width: 100%;
        }
        
        
        input[type=text] {
            width: 100%;
            padding: 5px 0%;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid $eighty;
            color: $eighty;
            font-size: 1.1rem;
          }
        
          input[type=password] {
            width: 100%;
            padding: 5px 0%;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid $eighty;
            color: $eighty;
            font-size: 1.1rem;
          }
          
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px $terciary inset !important;
        }
        
        select {
            padding: 5px 0px;
            font-size: 1.1rem;
        
        }
        input[type=radio] {
            padding: 0 10px 0 0;
           
        }
        
        input[type=checkbox] {
            padding: 5px 10px 0 5px;
        }

        
         input[type=submit] {
           
            font-size: 1rem;
            width: 100%;
            
         }
         .color-grey {
             color: $seventhy;
         }
    }    
}    
