.container-login {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.login_link {
        
    color: $fifthy;
    background-color: white;
    font-size: 1rem;
    &:hover{
    background-color: white;
    color: $secondary;
    border: 1px solid $fifthy;
    margin: 0 0 10% 0;
    }
}
.login-btn {
    padding: 3% 8%;
    margin: 7% 0 0 0;
    align-content: center;
    width: 100%;
	background-color: $fifthy;
	color: white;
    border-radius:5px;
    border: 1px solid $fifthy;
	text-align:center;
     
    text-decoration: none;
    
}

.logo {
    width: 30%;
    margin: 20% 0 0 0;
  
   
}