.login_link {
        
    color: $fifthy;
    background-color: white;
    font-size: 1rem;
    &:hover{
    background-color: white;
    color: $secondary;
    border: 1px solid $fifthy;
    }
}
.login-btn {
    padding: 3% 8%;
    margin: 2% 0%;
    align-content: center;
    width: 100%;
	background-color: $fifthy;
	color: white;
    border-radius:5px;
    border: 1px solid $fifthy;
	text-align:center;
     
    text-decoration: none;
    
}

.logo {
    width: 30%;
    height: 30%;
}