.nav-container {
    background-color: $secondary;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-left {
    display: inline;
    
    margin: 0 5%;
}

.nav-center {
    align-content: center;
}

.nav-right {
    display: grid;   
    padding: 0 5% 0 0;
}

.nav-img {
    padding: 0 5%;
    
}

.nav-right ul {
    display: flex;
    padding: 0 5% 0 0;
    margin: 0;
    list-style: none;
}
.nav-right a {
    display: block;
    padding: 2em;
    background-color: $secondary;
    text-decoration: none;
    color: $primary;
}
.nav-right a:hover {
    background-color: $secondary;
}
.nav-right ul li ul {
    display: none;
}

.nav-right ul li a:hover + ul, 
.nav-right ul li ul:hover {
    display: block;
    background-color: $secondary; 
    border: 1px solid $terciary;
    
    position: absolute;
}

.paddingTen {
    padding: 0 20%;
}